button {
    @apply mx-auto bg-gray-600 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg;
}

main ul {
    @apply list-disc;
    margin-left: 1.2rem;
}

hr {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
