:root {
    --primary-color: #abbfca;
    --secondary-color: #6AEBB3;
    --tertiary-color: #CBFF96;
    --quaternary-color: #E8D37D;
    --quinary-color: #FFB88A;
    --senary-color: #b4e4ff;
    --septenary-color: #FFF;
}
